/* --------------------------------------------------------------------------------------------------------------------------------------------------

    AdminSquare (www.adminsquare.com)

    File:       main-ie.css
    Version:    1.40
    Updated:    2010-04-01

-------------------------------------------------------------------------------------------------------------------------------------------------- */

.box {height:1%;}

/* --------------------------------------------------------------------------------------------------------------------------------------------------
LAYOUT
-------------------------------------------------------------------------------------------------------------------------------------------------- */

#header ul#nav ul li {display:inline; width:100%;}

/* --------------------------------------------------------------------------------------------------------------------------------------------------
PAGE: DASHBOARD
-------------------------------------------------------------------------------------------------------------------------------------------------- */

#content .cols-content {margin-left:175px;}
#content ul#dashboard {position:relative; left:-10px;}

/* =============================================================================
PAGE: MAILBOX
============================================================================= */

#content #mail-content .mail-list td {border-bottom:1px solid #CCC;}